@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	/*outline: none;*/
}

a:focus,
a:active {
	/* outline: none;*/
}

/* Links */

a,
a:link,
a:visited {
	/* color: inherit; */
	text-decoration: none;
	/* display: inline-block; */
}

a:hover {
	/* color: inherit; */
	text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

textarea {
	display: block;
}

input::-ms-clear {
	display: none;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input:focus,
textarea:focus,
button {
	outline: none;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

body.hidden {
	overflow: hidden;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main > .container {
	flex-grow: 1;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	border-radius: 10px;
	opacity: .9;
}

.btn.white {
	background-color: #fff;
	color: #00a942;
}

.btn.green {
	background-color: #00a942;
	color: #fff;
}

.btn:hover {
	opacity: 1;
}

.section {
	padding-top: 30px;
	padding-bottom: 30px;
}

.section__title {
	margin-bottom: 30px;
	font-size: 38px;
	margin-bottom: 30px;
	color: #00a942;
}

.section__title--error {
	color: #f1403c;
}

.section__subtitle {
	font-size: 22px;
	font-weight: 400;
	color: #000;
	margin-bottom: 30px;
}

.section__description {
	font-size: 20px;
	font-weight: 400;
	color: #000;
	margin-bottom: 30px;
}

@media (max-width: 480px) {
	.section__title {
		font-size: 32px;
	}

	.section__subtitle  {
		font-size: 20px;
	}
}

/*---------------------------- конец резет стилей ----------------------------*/

.container {
	max-width: 1280px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.container-flex {
	display: flex;
	flex-direction: column;
}

.header {
	border-bottom: 1px solid #efefef;
}

.header__body {
	display: flex;
	align-items: center;
	column-gap: 20px;
	min-height: 49px;
}

.header__nav {
	margin-left: auto;
}

.header__logo {
	max-width: 100px;
}

.nav__body {
	display: flex;
}

.nav__link {
	padding: 15px 10px;
	text-transform: uppercase;
	color: #636363;
	font-weight: 400;
	font-size: 14px;
}

.nav__link:hover {
	color: #000;
}

.nav__link.active {
	font-weight: 500;
	border-bottom: 2px solid #00a942;
}

.nav__burger,
.nav__burger-close {
	display: none;
}

@media (max-width: 768px) {
	.nav__burger {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 40px;
		height: 36px;
		padding: 10px;
		margin-right: -10px;
		cursor: pointer;
	}

	.nav__burger span {
		width: 100%;
		height: 2px;
		background-color: rgb(26, 178, 72);
	}

	.nav__burger-close {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 60px;
		height: 56px;
		padding: 20px;
		cursor: pointer;
	}

	.nav__burger-close span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		width: 20px;
		height: 2px;
		background-color: rgb(26, 178, 72);
	}

	.nav__burger-close span:last-child {
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	.nav__body {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transform: translateX(100%);
		transition: 0.3s ease transform;
	}

	.nav__body.open {
		transform: translateX(0);
	}

	.nav__link {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.nav__link.active {
		font-weight: 500;
		border-bottom: none;
	}

	.nav__link:last-child {
		padding-right: 15px;
	}
}

.face__title {
	max-width: 1000px;
}

.face-slider h3 {
	font-size: 28px;
	max-width: 480px;
	margin-bottom: 30px;
}

.face-slider p {
	max-width: 480px;
	font-weight: 700;
	font-size: 24px;
}

.face-slider__item {
	background-color: gray;
}

.face-slider__item.white {
	color: #fff;
}

.face-slider__btn {
	margin-top: 30px;
}

.info__item + .info__item {
	margin-top: 30px;
}

.info__item h5 {
	font-weight: 700;
	font-size: 22px;
	margin-bottom: 5px;
}

.info__item p {
	font-size: 18px;
	font-weight: 300;
	max-width: 800px;
}

.dogovor__subtitle {
	font-size: 18px;
}

.footer {
	background-color: #202124;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #fff;
}

.footer-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 30px;
}

.footer-list__box {
	width: calc(33.333% - 20px);
}

.footer-list__title {
	font-size: 20px;
	margin-bottom: 30px;
	font-weight: 700;
}

.footer-list__item + .footer-list__item {
	margin-top: 5px;
}

.footer-list__link {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
	font-weight: 300;
}

.footer-list__link:hover {
	opacity: 0.8;
}

.footer__bot {
	border-top: 1px solid rgb(255 255 255 / 32%);
	margin-top: 30px;
	padding-top: 30px;
	font-size: 12px;
}

@media (max-width: 768px) {
	.footer-list__box {
		width: 100%;
	}
}

.dogovor__head {
	display: flex;
	border-bottom: 1px solid #fff;
}

.dogovor__subtitle {
	width: 100%;
	margin-bottom: 15px;
	margin-top: 15px;
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 10px;
	font-size: 20px;
}

.dogovor__tab {
	width: 33.333%;
	text-align: center;
	padding: 15px;
	font-weight: 700;
	background-color: #f7f7f7;
	cursor: pointer;
	opacity: .9;
}

.dogovor__tab:hover {
	opacity: 1;
}

.dogovor__tab.active {
	background-color: #00a942;
	color: #fff;
}

.dogovor__form {
	display: none;
	flex-wrap: wrap;
	gap: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.dogovor__form.active {
	display: flex;
}

.dogovor__label {
	width: calc(33.333% - 20px);
}

.dogovor__label p {
	font-size: 15px;
	margin-bottom: 5px;
	color: #535353;
}

.dogovor__field {
	background-color: #fff;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #cacaca;
	transition: .3s border-color;
}

.dogovor__field:hover {
	border-color: #00a942;
}

.dogovor__field:focus {
	border-color: #00a942;
}

.dogovor__submit {
	width: 100%;
	text-align: center;
}

.dogovor__btn {
	display: inline-block;
	padding: 20px 45px;
	width: 280px;
	border-radius: 0;
	background-color: #000;
	color: #fff;
}

@media (max-width: 768px) {
	.dogovor__label {
		width: calc(50% - 15px);
	}
}

@media (max-width: 480px) {
	.dogovor__label {
		width: 100%;
	}

	.dogovor__tab {
		font-size: 14px;
		font-weight: 400;
		width: auto;
		flex-grow: 1;
	}

	.dogovor__form {
		gap: 15px;
	}

	.dogovor__btn {
		margin-top: 30px;
		width: 100%;
	}
}

.contacts {
	padding-bottom: 30px;
}

.contacts__subtitle {
	margin-bottom: 5px;
}

.contacts__description {
	margin-bottom: 10px;
}

.contacts__time {
	margin-bottom: 30px;
}

.contacts__time span {
	display: block;
	margin-top: 5px;
}

.contacts__body {
	display: flex;
	flex-wrap: wrap;
	gap: 60px;
}

.contacts__box {
	flex-shrink: 0;
	width: calc(50% - 30px);
}

.contacts__iframe {
	width: 100%;
	height: 100%;
	min-height: 400px;
}

.contacts__team {
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 10px;
}

.contacts__item {
	position: relative;
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #d5d5d5;
	column-gap: 30px;
}

.contacts__item::before {
	position: absolute;
	width: 1px;
	height: 50%;
	right: 50%;
	top: 50%;
	transform: translateY(-50%);
	content: '';
	background-color: #d5d5d5;
}

.contacts__item p {
	width: 50%;
	color: #4d4d4d;
	font-size: 15px;
}

.contacts-slider {
	padding-right: 30px;
	padding-left: 30px;
}

.contacts-slider__item {
	height: 270px;
}

.contacts-slider__item img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.contacts-slider .owl-nav {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	left: 0;
	right: 0;
	z-index: -1;
	display: flex;
	justify-content: space-between;
	font-size: 54px;
}

.contacts-slider .owl-nav {
	opacity: 0.7;
}

.contacts-slider .owl-nav:hover {
	opacity: 1;
}

@media (max-width: 991px) {
	.contacts__box {
		width: 100%;
	}

	.contacts__item {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.contacts__item p {
		font-size: 15px;
	}
}

@media (max-width: 768px) {
	.contacts {
		padding-bottom: 0;
	}
}

@media (max-width: 480px) {
	.contacts-slider {
		padding-right: 0;
		padding-left: 0;
	}

	.contacts-slider .owl-nav {
		position: static;
		transform: translateY(0);
		display: flex;
		justify-content: center;
		font-size: 40px;
		line-height: 30px;
	}

	.contacts-slider .owl-nav button {
		margin-right: 10px;
		margin-left: 10px;
	}
}

.cdek-id__title {
	font-weight: 700;
	margin-bottom: 20px;
}

.cdek-id__subtitle {
	font-weight: 700;
	font-size: 28px;
	margin-bottom: 15px;
}

.cdek-id__list {
	display: flex;
	column-gap: 30px;
	margin-bottom: 30px;
	flex-wrap: wrap;
}

.cdek-id__item {
	background-image: url('./media/cdek-id/check.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left center;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 50px;
	font-weight: 500;
	font-size: 18px;
}

.cdek-id__description {
	font-size: 20px;
	max-width: 600px;
	margin-bottom: 15px;
	color: #515151;
}

.cdek-id__ul {
	margin-bottom: 60px;
}

.cdek-id__li {
	font-size: 18px;
	color: #000;
	margin-bottom: 5px;
}

.cdek-id__li span {
	color: #00a942;
	font-weight: 700;
	font-size: 22px;
}

.cdek-id__video {
	position: relative;
	min-height: 600px;
}

.cdek-id__video iframe {
	position: absolute;
}

@media(max-width: 1280px) {
	.cdek-id__video {
		min-height: 400px;
		max-width: 640px;
	}
}

@media(max-width: 480px) {
	.cdek-id__video {
		min-height: 250px;
	}

	.cdek-id__ul {
		margin-bottom: 30px;
	}
}

.form-messages {
	flex-grow: 1;
	display: flex;
}

.form-messages__body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.form-messages__info {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-messages__image {
	width: 100px;
	height: 100px;
	margin-right: 15px;
	flex-shrink: 0;
}

.form-messages__title {
	margin-bottom: 0;
}

.form-messages__btn {
	display: inline-block;
    padding: 20px 45px;
    width: 280px;
    border-radius: 0;
    background-color: #000;
    color: #fff;
	margin-top: 40px;
	text-align: center;
}

@media (max-width: 480px) {
	.form-messages__title {
		font-size: 24px;
	}

	.form-messages__image {
		width: 80px;
	}
}